.beast {
	position: relative;
	height: 750px;

	display: flex;
	align-items: center;

	background-image: image-set(
		url('./../img/beast/beast-bg.jpg') 1x,
		url('./../img/beast/beast-bg@2x.jpg') 2x
	);

	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;

	color: #fff;
	text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.1);

	&::before {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 68px;
		content: '';

		background-image: url('./../img/beast/border-top.svg');
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: 0px -1px;
	}

	&::after {
		position: absolute;
		left: 0;
		bottom: -1px;
		width: 100%;
		height: 68px;

		content: '';

		background-image: url('./../img/beast/border-bottom.svg');
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: left bottom;

		@include mobile {
			bottom: -2px;
		}
	}

	@include desktop {
		height: 560px;
	}

	@include mobile {
		height: 400px;
	}

	@include mobile-xs {
		height: 285px;
		text-align: center;
	}
}

.beast-title {
	margin-bottom: 10px;

	font-family: var(--font-accent);
	font-weight: 700;
	font-size: 75px;
	letter-spacing: 7.5px;

	@include desktop {
		font-size: 60px;
	}

	@include mobile {
		font-size: 30px;
	}

	@include mobile-xs {
		font-size: 18px;
	}
}

.beast-desc {
	margin-bottom: 30px;

	font-size: 22px;
	line-height: 150%;
	text-wrap: wrap;

	@include desktop {
		font-size: 18px;
	}

	@include mobile {
		width: 395px;
		font-size: 14px;
	}

	@include mobile-xs {
		width: unset;
	}
}
