.contacts {
	height: 861px;

	display: flex;
	align-items: center;

	background-image: image-set(
		url('./../img/contacts/contact-form-bg.jpg') 1x,
		url('./../img/contacts/contact-form-bg@2x.jpg') 2x
	);

	background-repeat: no-repeat;
	background-size: cover;

	@include desktop {
		height: 615px;
	}

	@include tablet {
		height: 600px;
	}

	@include mobile {
		height: 460px;
	}

	@include mobile-l {
		height: 320px;
		background-position: -60px center;
	}

	@include mobile-xs {
		height: 300px;
		background-position: -90px center;
	}
}

.contacts-content {
	max-width: 585px;
	margin: 0 auto;

	@include tablet {
		max-width: 310px;
	}

	@include mobile-l {
		max-width: 290px;
	}

	@include mobile-xs {
		max-width: 240px;
	}
}

.contacts-title {
	margin-bottom: 40px;

	font-family: var(--font-accent);
	font-weight: 700;
	font-size: 70px;
	letter-spacing: 4px;
	color: #ffd479;

	@include desktop {
		font-size: 35px;
		margin-bottom: 20px;
	}

	@include mobile-l {
		font-size: 30px;
	}

	@include mobile-xs {
		font-size: 25px;
	}
}
