section.beast
	.container
		.beast-title РЕЖИМ ЗВЕРЯ
		|
		|
		.beast-desc
			p Ультраинтенсивные тренировки для тех, кто стремится выйти за пределы своих возможностей. Силовые и#[br]кардиотренировки высокой интенсивности помогут развить выносливость, мощь и непоколебимую уверенность в себе.
		|
		|
		.beast-btn-wrapper
			|
			|
			a(href="#!" class="btn") ЗАПИСАТЬСЯ
			|
			|
|
|