section.contacts
	.container
		.contacts-content
			h2.contacts-title НАПИСАТЬ НАМ
			form.form
				.form-group
					label(class="label" for="labelname") Имя
					input(class="input" type="text" id="labelname")
				|
				|
				.form-group
					label(class="label" for="labelemail") E-mail
					input(class="input" type="text" id="labelemail")
				|
				|
				.form-group
					label(class="label" for="labelmeg") Сообщение
					textarea(class="textarea" id="labelmeg")
				|
				|
				button.btn ОТПРАВИТЬ