footer.footer
	.container
		+footer-socials([
			{imgName: 'vk', fLink: 'Vk'},
			{imgName: 'rutube', fLink: 'Rutube'},
			{imgName: 'dzen', fLink: 'Dzen'},
			{imgName: 'telegram', fLink: 'Telegram'}
		])
		|
		|
		.footer-contacts
			.footer-contacts-col
				p
					| г. Москва, ул. Тверская, д. 12, стр. 1#[br]
					| Россия, 125009
			|
			|
			.footer-contacts-col
				p
					| Телефон 
					a(href="tel:+78001234567")  +7 (800) 12 34 567 #[br]
					|
					|
					a(href="mailto:info@bodyshape.ru") info@bodyshape.ru