section.section.section-groups
	.container
		header.section-header
			|
			|
			h2.section-title ПРОГРАММЫ И#[br]СЕКЦИИ
			|
			|
			.section-desc.section-desc--text-wp-b
				p Разнообразные тренировки и занятия для всех уровней подготовки. Найдите свою идеальную программу и начните путь к здоровью и силе.
		|
		|
		|
		+group-grid([
				{className: "card-group-img", imgName: "program-01", altName: "Program", title: "тренировки"},
				{className: "card-group-img", imgName: "program-02", altName: "Program", title: "КРОССФИТ"},
				{className: "card-group-img", imgName: "program-03", altName: "Program", title: "ПИЛАТЕС"},
				{className: "card-group-img", imgName: "program-04", altName: "Program", title: "АЭРОБИКА"},
				{className: "card-group-img", imgName: "program-05", altName: "Program", title: "ВЫНОСЛИВОСТЬ"},
				{className: "card-group-img", imgName: "program-06", altName: "Program", title: "ВЫСТУПЛЕНИЯ"},
				{className: "card-group-img", imgName: "program-07", altName: "Program", title: "ФИТНЕС"},
				{className: "card-group-img", imgName: "program-08", altName: "Program", title: "РЕЛЬЕФ"}
			])
	|
	|
|
|