+hero([
	{link: '#!', name: 'Инструкторы'},
	{link: '#!', name: 'Секции'},
	{link: '#!', name: 'Новости'},
	{link: '#!', name: 'Контакты'},
])


		//-- button.mobile-nav-btn
		//--	.nav-icon

//- include ./../blocks/mobile-nav