section.section.section-trainers
	.container
		header.section-header
			|
			|
			h2.section-title ПЕРСОНАЛЬНЫЕ ТРЕНЕРЫ
			|
			|
			.section-desc
				p В нашей команде профессиональные тренеры, которые помогут вам достичь ваших фитнес-целей. Индивидуальный подход, мотивация и поддержка на каждом этапе вашего пути к успеху.
		|
		|
		+trainers-grid([
				{link: "#!", linkName: "card-trainer", cardName: "vincenzo graham", className: "card-trainer-img", imgName: 'trainer-01', altName: 'Trainer'},
				{link: "#!", linkName: "card-trainer", cardName: "vincenzo graham", className: "card-trainer-img", imgName: 'trainer-02', altName: 'Trainer'},
				{link: "#!", linkName: "card-trainer", cardName: "vincenzo graham", className: "card-trainer-img", imgName: 'trainer-03', altName: 'Trainer'},
				{link: "#!", linkName: "card-trainer", cardName: "vincenzo graham", className: "card-trainer-img", imgName: 'trainer-04', altName: 'Trainer'},
				{link: "#!", linkName: "card-trainer", cardName: "vincenzo graham", className: "card-trainer-img", imgName: 'trainer-05', altName: 'Trainer'},
				{link: "#!", linkName: "card-trainer", cardName: "vincenzo graham", className: "card-trainer-img", imgName: 'trainer-06', altName: 'Trainer'},
				{link: "#!", linkName: "card-trainer", cardName: "vincenzo graham", className: "card-trainer-img", imgName: 'trainer-07', altName: 'Trainer'},
				{link: "#!", linkName: "card-trainer", cardName: "vincenzo graham", className: "card-trainer-img", imgName: 'trainer-08', altName: 'Trainer'}
			])
	|
	|
|
|