html {
	scroll-behavior: smooth;
}

html,
body {
	background-color: var(--page-bg);
	color: var(--text-color);
	font-family: var(--font-main);
	font-weight: 300;
	font-size: 16px;
	text-wrap: balance;
}

a {
	color: var(--link-color);
}

.main {
	flex-grow: 1;
	overflow-y: hidden;
}

code {
	background-color: #e9f1f6;
	padding: 0.2rem;
	border-radius: 4px;
}

pre.code {
	overflow-x: auto;
	background-color: #e9f1f6;
	padding: 1rem;
	border-radius: 4px;
}
