.form {
	color: #fff;
	display: grid;
	gap: 30px;

	@include tablet {
		gap: 15px;
	}

	@include mobile-l {
		gap: 5px;
	}
}

.form-group {
	display: grid;
	gap: 5px;
}

.label {
	font-size: 16px;
	font-weight: 700;

	@include mobile-l {
		font-size: 14px;
	}
}

.input {
	font-size: 16px;
	font-weight: 300;

	padding-bottom: 9px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);

	@include mobile-l {
		font-size: 14px;
		font-weight: 300;
		padding-bottom: 5px;
	}

	@include mobile-xs {
		padding-bottom: 0;
	}
}

.textarea {
	resize: vertical;
	height: 170px;
	padding-bottom: 9px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);

	font-size: 16px;
	font-weight: 300;
	line-height: 150%;

	@include tablet {
		height: 100px;
	}

	@include mobile-l {
		height: 50px;
	}
}
