section
	.container
		h2.title-2 Контейнеры

	.container
		p Стандартный контейнер #[code .container]
		include containers/democontent

	.container-full
		p Контейнер на всю ширину #[code .container-full]
		include containers/democontent

	.container-left-50
		p Контейнер слева на 50% #[code .container-left-50]
		include containers/democontent

	.container-right-50
		p Контейнер справа на 50% #[code .container-right-50]
		include containers/democontent

	.container-left
		p Контейнер слева до размера контейнера #[code .container-left]
		include containers/democontent

	.container-right
		p Контейнер вправо #[code .container-right]
		include containers/democontent

	.container-half-left
		p Контейнер на половину слева #[code .container-half-left]
		include containers/democontent

	.container-half-right
		p Контейнер на половину справа #[code .container-half-right]
		include containers/democontent