include ./../mixins/hero.pug
include ./../mixins/header.pug
include ./../mixins/header-nav.pug
include ./../mixins/header-slide.pug
include ./../mixins/trainers-grid.pug
include ./../mixins/groups-grid.pug
include ./../mixins/footer-social.pug