main.docs
	section
		.container
			h1.title-1 Документация

			p Документация и возможности сборки и стартового шаблона

			p 
				|	Запуск в режиме разработки: #[code gulp]#[br]
				|	Сборка оптимизированной версии для продакшена: #[code gulp docs]
		
			h3.title-3 Возможности стартового шаблона
			ul
				li Готовые стили для CSS контейнеров на все случаи жизни.
				li Миксины и сниппеты для адаптива.
				li Миксин и сниппет для CSS retina фоновых изображений.

			h3.title-3 Возможности сборки

			ul
				li Автоисправление путей. Смело используйте подсказки редактора при указании пути к файлу. Сборка сама удалит лишние поднятия на уровень вверх #[code ../../] в src HTML и background-image в SCSS.
				li Автоматическая генерация SVG спрайтов. Подробнее см. ниже.
		
			h3.title-3 Особенности сборки для продакшена gulp docs
			ul
				li Автоматическое сжатие jpg изображений
				li Автоматическая генерация webp графики и указания webp формата в HTML.
				li При прописывании тега img не обязательно прописывать srcset с 2x. Плагин 'gulp-webp-retina-html' в таске 'pug:dev' автоматически добавляет тег picture и source для 2x изображений. Обязательно сохранять картинки в @2x разрешении.
	
	include blocks/fonts
	include blocks/snippets
	include blocks/svgsprite
	include blocks/gulp-file-include
	include blocks/typo
	include blocks/containers